/* CustomCarousel.css */

/* Carousel title */
.cmp-title {
  text-align: center;
  margin-bottom: 20px;
}

.cmp-title__text {
  font-size: 20px;
}

/* Carousel assets */
.cmp-assets__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cmp-assets__data {
  width: var(--asset-width);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0 5px;
}

.cmp-assets__data--img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
  object-fit: cover;
}

.cmp-assets__data--desc {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 991px) {
  .cmp-assets__data {
    width: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .cmp-assets__data {
    width: 100%;
  }
}