/* CustomCarousel.css */

/* Carousel title */
.cmp-title {
  text-align: center;
  margin-bottom: 20px;
}

.cmp-title__text {
  font-size: 20px;
}

/* Carousel assets */

.cmp-assets__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cmp-assets__data {
  width: var(--asset-width);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0 5px;
}

.cmp-assets__data--img {
  width: 100%;
  height: 270px;
  object-fit: contain;
  object-fit: cover;
}

.cmp-assets__data--desc {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 991px) {
  .cmp-assets__data {
    width: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .cmp-assets__data {
    width: 100%;
  }
}

/* Carousel buttons */

.carousel-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-controls button {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-controls button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.carousel-controls button:hover:not(:disabled) {
  color: #ff0000; /* Customize the hover color as desired */
}

.carousel-controls button:first-child::before {
  content: '\276E'; /* Unicode character for left arrow */
}

.carousel-controls button:last-child::before {
  content: '\276F'; /* Unicode character for right arrow */
}

.carousel-controls button::before {
  display: inline-block;
}
